// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$theme-colors: (
  "primary": #173c5d,
  "secondary": #11a294,
  "accent": #006ea0,
  "error": #bd2200,
  "info": #0a42dc,
  "success": #84bd00,
  "warning": #ffc100,
  "text2e": #2e2e2e,
);

$color-primary: #173c5d;
$color-secondary: #11a294;
$color-accent: #006ea0;
$color-error: #bd2200;
$color-info: #0a42dc;
$color-success: #84bd00;
$color-warning: #ffc100;
$color-text2e: #2e2e2e;

$body-font-family: "DB-Helvethaica-X";
